.med-photo-thumb{
    width: 200px;
    height: 200px;
}

.small-photo-thumb{
    width: 100px;
    height: 100px;
    z-index: 1000;
}
li.active-result{
    color: #000000;
}

.menu-toggler{
    display: none;
}

.modal-crop-form {
    margin-right: auto;
    margin-left: auto;
    width: 850px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.crop-photo{
    display: block;
    margin: 0 auto;
}

.jcrop-holder{
    margin-left: auto;
    margin-right: auto;
}

.loader-container{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    cursor: progress;

}
.loader-curtain{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
}
.loader{
    position: fixed;
    top:45%;
    left:45%;
    opacity: 1;
}
.bigger-500{
    font-size: 500%;
}