#photo-tag-container{
    width: 100%;
    height: 100%;
}
.photo-tag-container{
    position: relative;
    margin: 0 auto;
    padding: 0 0;
    width: auto;
    height: auto;
    display: inline-block;
    cursor:crosshair;
    z-index: 1000;
    vertical-align: middle;
}
.magger-tag{
    position: absolute;
    width: 40px;
    margin-left: -20px;
    cursor: pointer;
}

.tag-holder{
    position: absolute;
    width: 40px;
    bottom: 0px;
}

.tag-holder > i{
    margin: auto auto;
    display: table;
}

.tag-holder > i:hover{
    font-size: 300%;
}

.magger-form-container{
    cursor: move;
    position: absolute!important;
    display: none;
    width: 270px;
    z-index: 1050;
}

#magger-form > .modal-footer {
    padding: 10px 8px;
}

#magger-form > .control-group{
    margin: 5px 0;
}

.select-tag-color{
    margin: 5px 0;
    padding: 0;
    float: left;
    cursor: default;
}

.select-tag-color > li{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px;
    cursor: pointer;
}
.select-tag-color > li > .color-pick-button{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    position: relative;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    cursor: pointer;
}
.select-tag-color > li > .color-pick-button:hover {
    text-decoration: none;
    opacity: 0.8;
    -webkit-transform: scale(1.08);
}
.select-tag-color > li > .color-pick-button.selected::after{
    content: "ï€Œ";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 11px;
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    line-height: 20px;
    color:#ffffff;
}